
@{
    ViewData["Title"] = "Trainers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row" style="margin-bottom:200px">
    <div class="col-md-2 col-12 mr-md-n5 ml-md-3">
        <partial name="nav" />
    </div>
    
</div>
