
@{
    ViewData["Title"] = "ParticipantRoleSummary";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}





<div class="card card1 mb-3" >
    <div class="card-body">
        <div class="card2">
            
            <i class="fa-solid  fa-users" style="color: blue; font-size: 1.5rem;"></i>
            <h5 class="card-title title1">Participants Number</h5>
        </div>
        <p class="card-text text1" >@ViewBag.UserCount</p>
    </div>
</div>
